.cartSection {
  width: 81%;
  margin: auto;
  /* position: relative; */
}

.cartSection h2 {
  color: var(--dark);
  font-size: 22px;
  margin-bottom: 15px;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.cartContainer {
  width: 80%;
  background: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* height: 550px;  */
}

/* Left side: cart items */
.cartItemsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Right side: summary */
.cartSummary {
  width: 30%;
  height: 340px;
  padding: 15px;
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 10px;
}

.cartInfo {
  border-radius: 20px 20px 0px 0px;
  background-color: var(--light1);
  padding: 20px 33px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* border-bottom: 1px solid #eee; */
  margin-top: -13px;
  margin-left: -20px;
  margin-right: -20px;
}

.infoIcon {
  background: var(--light);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartInfoText h4 {
  margin: 0 0 3px;
  font-size: 14px;
  color: var(--dark);
}

.cartInfoText p {
  margin: 0;
  font-size: 12px;
  color: var(--light-gray1);
}

.cartHeader {
  /* border: 1pv; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px;
  border-bottom: 1px solid #eee;
}

.cartHeaderBorder {
  background: var(--white);
  border-radius: 15px;
  margin-top: -15px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
.cartTitle {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary);
}

.itemCount {
  color: var(--dark);
  font-weight: normal;
  font-size: 14px;
}

.removeAllBtn {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--red);
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.removeAllBtn > span {
  padding-left: 5px;
}

/* Cart Items with scrollbar */
.cartItems {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-gutter: stable; /* new */
  display: flex; /* new */
  flex-direction: column; /* new */
}

/* Style the scrollbar for webkit browsers */
.cartItems::-webkit-scrollbar {
  width: 6px;
}

.cartItems::-webkit-scrollbar-track {
  background: var(--light-grey3);
  border-radius: 10px;
}

.cartItems::-webkit-scrollbar-thumb {
  background: var(--grey2);
  border-radius: 10px;
}

/* .cartItems::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
} */

.cartItem {
  padding: 14px;
  border-bottom: 1px solid #eee !important;
  display: flex;
  justify-content: space-between;
  min-height: 130px; /* new */
  transition: none !important; /* new */
}
.itemDetails h4 {
  font-size: 24px;
  margin: 0 0 5px;
  color: var(--dark);
}

.itemDetails p {
  margin: 0;
  font-size: 18px;
  color: var(--dark);
}

.itemPrice {
  font-weight: 700;
  font-size: 18px;
  color: var(--dark);
}

.itemActions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;

  min-height: 40px;
  min-width: 20px;
}

.quantityControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary);
  border-radius: 9999px;
  height: 30px;
  max-width: 90px;
  overflow: hidden;
}

.quantityBtn {
  width: 32px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  border: none;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

.quantity {
  flex: 1;
  text-align: center;
  font-weight: 500;
  color: var(--dark);
  font-size: 16px;
  min-width: 28px;
  max-width: 28px;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  line-height: 1;
  white-space: nowrap;
}

.itemTotal {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  display: flex;
  align-items: center;

  flex-shrink: 0;
  white-space: nowrap;
}

.itemTotal span {
  display: inline-block;
  min-width: 70px;
}
.removeBtn {
  display: flex;
  align-items: center;
  gap: 5px; /* space between icon and text */
  color: var(--red);

  border: none;
  background: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 14px;
  color: var(--light-gray1);
}
.borderedBottom {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.label {
  color: var(--light-grey1);
}

.value {
  color: var(--dark);
}

.discount {
  color: var(--red);
  font-weight: 500;
}

.totalLabel {
  margin-top: 10px;
  font-weight: bold;
  color: var(--dark);
}

.totalGroup {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.oldTotal {
  color: var(--light-grey);
  text-decoration: line-through;
  font-size: 13px;
  margin-bottom: 2px;
}

.totalAmount {
  font-weight: bold;
  font-size: 16px;
  color: var(--dark);
}

.freeDelivery {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: -10px;
}

.truckIcon {
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freeDeliveryText h4 {
  font-size: 14px;
  color: var(--green2);
  margin: 0 0 2px;
  font-weight: 600;
}

.freeDeliveryText p {
  font-size: 12px;
  color: var(--light-gray1);
  margin: 0;
}

.checkoutBtn {
  background: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}
.disabledBtn {
  color: var(--light-gray1);
  background: white;
  cursor: not-allowed;
  border: none;
}
.checkoutBtn:hover {
  background: var(--primary);
}

.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centers items horizontally within the container */
  background-color: var(--white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 12px 30px;
  border-radius: 10px;
  max-width: fit-content;
  margin-left: auto; /* These two margin properties will center the container itself */
  margin-right: auto;
}

.icon {
  font-size: 30px;
  margin-right: 12px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: var(--dark);
}

.numbers {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark);
  margin: 4px 0 0;
}
