.cartSection {
  width: 81%;
  margin: auto;
  /* position: relative; */
}

.cartSection h2 {
  color: black;
  font-size: 22px;
  margin-bottom: 15px;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

/* Main container with flex layout */
.cartContainer {
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  /* padding: 10px; */
}

/* Left side: cart items */
.cartItemsWrapper {
  width: 100%;
}

/* Right side: summary */
.cartSummary {
  width: 40%;
  height: 340px;
  padding: 15px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

.cartInfo {
  border-radius: 20px 20px 0px 0px;
  background-color: #e3e3e3;
  padding: 20px 33px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #eee;
  margin-top: -13px;
  margin-left: -20px;
  margin-right: -20px;
}

.infoIcon {
  background: #f0f0f0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartInfoText h4 {
  margin: 0 0 3px;
  font-size: 14px;
  color: black;
}

.cartInfoText p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.cartHeader {
  border: 1pv;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px;
  border-bottom: 1px solid #eee;
}

.cartHeaderBorder {
  background: white;
  border-radius: 15px;
  margin-top: -15px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
.cartTitle {
  font-size: 16px;
  font-weight: bold;
  color: var(--blue6);
}

.itemCount {
  color: var(--dark);
  font-weight: normal;
  font-size: 14px;
}

.removeAllBtn {
  color: #ff4d4f;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.cartItem {
  padding: 15px;
  border-bottom: 1px solid #eee !important;
  display: flex;
  justify-content: space-between;
}

.itemDetails h4 {
  font-size: 24px;
  margin: 0 0 5px;
  color: var(--dark);
}

.itemDetails p {
  margin: 0;
  font-size: 18px;
  color: var(--dark);
}

.itemPrice {
  font-weight: 700;
  font-size: 18px;
  color: var(--dark);
}

.itemActions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.quantityControl {
  display: flex;
  align-items: center;
  border: 1px solid #2f88ff;
  border-radius: 9999px;
  height: 32px;
  width: 111px;
  overflow: hidden;
}

.quantityBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  color: var(--blue6);
  font-size: 18px;
  font-weight: 500;
  border: none;
  background: transparent;
  cursor: pointer;
}

.quantity {
  color: var(--dark);
  flex: 1;
  text-align: center;
  font-weight: 500;
}

.itemTotal {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  display: flex;
  align-items: center;
  gap: 10px;
}

.removeBtn {
  color: #ff4d4f;
  border: none;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 14px;
  color: #6c757d;
}
.borderedBottom {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.label {
  color: #6c757d;
}

.value {
  color: #000;
}

.discount {
  color: #dc3545;
  font-weight: 500;
}

.totalLabel {
  margin-top: 10px;
  font-weight: bold;
  color: #000;
}

.totalGroup {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.oldTotal {
  color: #c1c1c1;
  text-decoration: line-through;
  font-size: 13px;
  margin-bottom: 2px;
}

.totalAmount {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.freeDelivery {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.truckIcon {
  background: #d1f5e1;
  color: green;
  font-size: 18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freeDeliveryText h4 {
  font-size: 14px;
  color: green;
  margin: 0 0 3px;
  font-weight: 600;
}

.freeDeliveryText p {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.checkoutBtn {
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.checkoutBtn:hover {
  background: #0b5ed7;
}
